<nav class="text-xl p-4 rounded-lg sticky top-0 z-50 shadow-md">
    <div class="flex justify-between">
        <div><a href="https://appasahebnage.github.io/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="favicon-32x32.png" class="h-8" alt="Logo" />
                <span class="self-center font-semibold whitespace-nowrap">Appasaheb Nage</span>
            </a></div>
        <div>
            <ul class="flex md:space-x-4">
                <li>
                    <a href="#" (click)="scrollTo('home')"
                        class="block py-2 px-3 rounded hover:bg-gray-100" [ngClass]="{'text-gray-900': activeSection !== 'home', 'text-blue-600': activeSection === 'home'}">Home</a>
                </li>
                <li>
                    <a href="#about" (click)="scrollTo('about')"
                        class="block py-2 px-3 rounded hover:bg-gray-100" [ngClass]="{'text-gray-900': activeSection !== 'about', 'text-blue-600': activeSection === 'about'}">About</a>
                </li>
                <li>
                    <a href="#projects" (click)="scrollTo('projects')"
                        class="block py-2 px-3 rounded hover:bg-gray-100" [ngClass]="{'text-gray-900': activeSection !== 'projects', 'text-blue-600': activeSection === 'projects'}">Projects</a>
                </li>
                <li>
                    <a href="#experience" (click)="scrollTo('experience')"
                        class="block py-2 px-3 rounded hover:bg-gray-100" [ngClass]="{'text-gray-900': activeSection !== 'experience', 'text-blue-600': activeSection === 'experience'}">Experience</a>
                </li>
                <li>
                    <a href="#skills" (click)="scrollTo('skills')"
                        class="block py-2 px-3 rounded hover:bg-gray-100" [ngClass]="{'text-gray-900': activeSection !== 'skills', 'text-blue-600': activeSection === 'skills'}">Skills</a>
                </li>
            </ul>
        </div>
    </div>
</nav>