<section class="bg-white rounded-lg shadow p-6 sm:p-8 antialiased mt-6">
    <div class="max-w-3xl mx-auto text-center">
        <h2 class="text-2xl font-semibold text-gray-800 sm:text-3xl">
            Skills
        </h2>
        <p class="mt-4 text-gray-600">
            Here are the technologies and tools I specialize in to build scalable and efficient applications.
        </p>
    </div>

    <div class="mt-8 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="flex flex-col items-center">
            <a href="https://nestjs.com">
                <img src="https://docs.nestjs.com/assets/logo-small.svg" alt="NestJS"
                    class="w-16 h-16 rounded-full bg-red-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">NestJS</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://nodejs.org">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg" alt="Node.js"
                    class="w-16 h-16 rounded-full bg-green-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">Node.js</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://www.typescriptlang.org">
                <img src="typescript.png" alt="TypeScript" class="w-16 h-16 rounded-full bg-blue-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">TypeScript</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png" alt="JavaScript"
                    class="w-16 h-16 rounded-full bg-yellow-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">JavaScript</p>
            </a>
        </div>

        <div class="flex flex-col items-center">
            <a href="https://angular.dev">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular"
                    class="w-16 h-16 rounded-full bg-purple-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">Angular</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://www.mysql.com/">
                <img src="https://www.logo.wine/a/logo/MySQL/MySQL-Logo.wine.svg" alt="MySQL"
                    class="w-16 h-16 rounded-full bg-gray-100" />
                <p class="mt-2 text-sm font-medium text-gray-700">MySQL</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://www.prisma.io/">
                <img src="prisma.png" alt="Prisma ORM" class="w-16 h-16 rounded-full bg-teal-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">Prisma ORM</p>
            </a>
        </div>
        <div class="flex flex-col items-center">
            <a href="https://orm.drizzle.team/">
                <img src="drizzle.png" alt="Drizzle ORM" class="w-16 h-16 rounded-full bg-orange-100 p-2" />
                <p class="mt-2 text-sm font-medium text-gray-700">Drizzle ORM</p>
            </a>
        </div>
        <!-- <div class="flex flex-col items-center">
            <img
                src="https://typeorm.io/images/logo.png"
                alt="TypeORM"
                class="w-16 h-16 rounded-full bg-pink-100 p-2"
            />
            <p class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-300">TypeORM</p>
        </div> -->
    </div>
</section>